
body{
	background-image: url(images/yl.png);
	background-size: 1600px 800px;
	margin:auto;
}

#startdiv{
    margin : auto;
	border-radius: 8px;
	border: 9px groove #cccc00;
	background: #ffffb3;
	width: 700px;
	padding: 100px
	padding-right: 100px;
	padding-left: 100px;
	padding-top: 35px;
	box-shadow: 10px 10px #ffff4d;
  
}

h1{
  text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	color: black;
}

h2{
  text-align: center;
}

#firstBu{
  color:black;
  padding: 10px 12px;
  text-align: center;
  background: #ffff66;
  size:300px;
  font-size: bold;
  font-size: 15px;
  border-color: black;
  height:60px; 
  width:200px; 
  margin: -20px -50px; 
  
}


#quiz {
  display: none;
  text-align: center;
  font-size: 28px;
  text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: black;  
}


#P1{
 border: 9px groove black;
 text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: center;
  font-size: 35px;
  color: black;
  background: #ffad33;

}


.correct{
  display: none;
  background-color: #ffad33;
  font-weight: bold;
}

.cc{
  display: none;
  background: red;
  color:black;
  font-weight: bold;
}


#end{
  display: none;
  text-align: center;
  font-size: 60px;
  color: black;
  font-weight: bold ; 
  text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

#finish{
  color:black;
  text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  padding: 5px 12px;
  text-align: center;
  background: #ffad33;
  font-size: 30px;
  margin: 4px 2px;
  border-color: gray;
  
}
#result{
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}
a{
  font-size: 35px;
  display: none;
  text-align: center;
  font-weight: bold;
  text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;


}


#mistakes{
  color:black;
  padding: 5px 12px;
  text-align: center;
  background: #ffff66;
  size:100px;
  font-size: 30px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 6px;
  display: none;
}








